body {
  overflow-x: hidden;
}

/* Header */

.logo-link {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--blue);
  text-decoration: none;
}

.menu-item {
  color: var(--blue);
  text-decoration: none;
  padding: 0.4rem 1rem;
  border-radius: 0.8rem;
  transition: background-color 0.4s;
  position: relative;
}

.mobile {
  color: var(--white);
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--blue);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* Main */

.image1 img,
.image2 img {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}

.image2 {
  padding-top: 30px;
}

.text_container {
  display: flex;
  justify-content: center;
}

.text_container2 {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.h1_container {
  position: absolute;
}

h1,
.h2 h1 {
  font-family: the-seasons, sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

p {
  font-size: 0.9rem;
}

.p_container {
  margin-top: 65px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .logo-link {
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--blue);
    text-decoration: none;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .text_container2 {
    order: -1;
  }

  .image1 img,
  .image2 img {
    height: 500px;
    border-radius: 15px;
    transition: ease 0.3s;
    object-fit: cover;
  }

  .image2 {
    padding-top: 0;
  }

  .image1 img:hover,
  .image2 img:hover {
    transform: scale(1.025);
    transition: ease 0.3s;
    border-radius: 20px;
  }

  .h1_container {
    margin-top: 125px;
  }

  p {
    font-size: 1.25rem;
  }

  .p_container {
    margin-top: 200px;
    max-width: 350px;
  }

  footer p {
    font-size: 0.875rem;
  }
}
