/* Header */

.logo-link {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--blue);
  text-decoration: none;
}

.menu-item {
  color: var(--blue);
  text-decoration: none;
  padding: 0.4rem 1rem;
  border-radius: 0.8rem;
  transition: background-color 0.4s;
  position: relative;
}

.mobile {
  color: var(--white);
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--blue);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* Main */

.image1 img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  padding: 10px;
}

.text_container {
  display: flex;
  justify-content: center;
}

.text_container2 {
  display: flex;
  justify-content: center;
}

.h1_container {
  position: absolute;
  margin-top: 15px;
}

h1 {
  font-size: 1.75rem;
  font-family: "swear-display", serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

p {
  font-size: 0.9rem;
}

.p_container {
  margin-top: 75px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
}

.h2 {
  position: absolute;
  margin-top: 15px;
}

.h2 h1 {
  font-size: 1.75rem;
  font-family: "swear-display", serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.image2 img {
  margin-top: 15px;
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  padding: 10px;
}

@media (min-width: 768px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .text_container2 {
    order: -1;
  }

  .image1 {
    margin-top: 50px;
  }

  .image2 {
    margin-bottom: 50px;
  }

  .image1 img,
  .image2 img {
    margin-top: 15px;
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 15px;
    padding: 10px;
    transition: ease 0.3s;
  }

  .image1 img:hover,
  .image2 img:hover {
    transform: scale(1.025);
    transition: ease 0.3s;
    border-radius: 20px;
  }

  .h1_container {
    display: flex;
    position: absolute;
    margin-top: 125px;
  }

  p {
    font-size: 1.5rem;
  }

  .p_container {
    font-size: 1.5rem;
    margin-top: 200px;
    max-width: 350px;
  }
}
