body {
  overflow-x: hidden;
}

/* Main - mobile-view*/

/* hero image */

@media (max-width: 768px) {
  .hero-image {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 400px;
    background-image: url(../Billeder/om-os_billeder/om_os_hero.webp);
    background-size: cover;
    z-index: -1;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.152);
    z-index: 0;
  }

  /* H1 */

  .h1_container {
    position: absolute;
    margin-top: 325px;
  }

  .h1_2_container {
    position: absolute;
  }

  .h1,
  .h1_2 {
    font-family: the-seasons, sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

  /* Microcopy */

  .p1 {
    margin-top: 395px;
  }

  .p2 {
    margin-top: 80px;
  }

  .p1,
  .p2 {
    font-family: "asterisk-sans-variable", sans-serif;
    font-size: 0.9rem;
  }

  /* Billeder */

  .img1_container {
    margin-right: 10px;
    margin-top: 400px;
  }

  .img2_container {
    margin-top: 75px;
    margin-bottom: 25px;
  }

  .img1_container img,
  .img2_container img {
    width: 100%;
    height: 325px;
    border-radius: 5px;
    object-fit: cover;
    transition: ease 0.3s;
  }

  /* Main - grid // mobileview */

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .h1_container_desktop {
    display: none;
  }
}

/************************************** Main - Desktop-view ***********************************/

@media (min-width: 768px) {
  /* Hero image */

  .hero-image {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    background-image: url(../Billeder/om-os_billeder/om_os_hero.webp);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    background-color: rgba(0, 0, 0, 0.152);
    z-index: 0;
  }

  /* H1 */

  .h1_container {
    display: flex;
    justify-content: center;
  }

  .h1 {
    position: absolute;
    margin-top: 660px;
  }

  .h1_2 {
    position: absolute;
    margin-top: 80px;
  }

  .h1,
  .h1_2 {
    font-family: the-seasons, sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

  /* Microcopy */

  .p_container {
    display: flex;
    justify-content: center;
  }

  .p1 {
    margin-top: 760px;
    margin-left: 80px;
  }

  .p2 {
    margin-top: 180px;
  }

  .p1,
  .p2 {
    max-width: 325px;
    font-size: 1.25rem;
  }

  /* Billeder */

  .img1_container {
    padding-right: 20px;
    margin-top: 595px;
  }

  .img2_container {
    padding-left: 20px;
  }

  .img1_container img,
  .img2_container img {
    width: 100%;
    height: 600px;
    background-size: cover;
    border-radius: 10px;
    transition: ease 0.3s;
    object-fit: cover;
  }

  .img1_container img:hover,
  .img2_container img:hover {
    transform: scale(1.025);
    transition: ease 0.3s;
    border-radius: 20px;
  }

  /* Main - grid // desktop */

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }

  .h1_2_container {
    display: none;
  }

  .h1_container_desktop {
    display: flex;
  }
}
