/********** general **********/
img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

main {
  max-width: 1200px;
  margin-inline: auto;
  margin: 10cqw;
}

/**********  menu **********/
.menu-item {
  color: #000000;
}

.logo-link {
  color: #000000;
}

.menu-icon span {
  background: #000000;
}

/**********  footer **********/
@media (max-width: 762px) {
  footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    /* height: none; !!*/
  }
}

@media (min-width: 762px) {
  footer img {
    display: none;
  }
}

.footer-right,
.footer-left {
  text-align: center;
}

footer h1 {
  font-family: the-seasons, sans-serif;
}

footer.p {
  text-align: justify;
  margin-inline: 17px;
  font-size: 1.2rem;
}

.social {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 5px 0;
  padding-left: 4rem;
}

.social a,
.kort a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: unset;
  text-decoration: none;
}

.social i {
  font-size: 20px;
  color: white;
}

.social a:hover,
.kort a:hover {
  opacity: 0.7;
}

/********** layout **********/
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.box2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 18cqw;
  margin-bottom: 18cqw;
  h2 {
    grid-column: span 2;
  }
  p {
    margin-left: 1rem;
  }
  img {
    max-width: 95%; /* scale to mobile size */
    align-self: center;
  }
}

@media (min-width: 762px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .box2 {
    grid-template-rows: auto 1fr;
    h2 {
      grid-column: span 1;
    }
    p {
      margin-left: 0rem;
    }
    img {
      grid-column: 2/3;
      grid-row: span 2;
      max-height: 500px;
      justify-self: center;
      align-self: center;
      object-fit: contain; /* Keep the image proportions intact */
    }
  }
}

/********** hover effect on img **********/
.grow {
  transition: 1s ease;
}

.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

/********** form **********/
form {
  background-color: #dfe1e4;
  font-size: 1rem;
  font-family: "swear-display", serif;
  border-radius: 5px;
}

.form__input {
  width: clamp(120px, 65vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0.625rem auto;
  transition: all 250ms;
  /* justify-items: center;
  display: grid; */
}

/* form__input class is in focus */
:focus {
  outline: none;
  border-top-color: rgba(0, 0, 0, 0.1);
}

/* when .form__input is in focus, transform the .form__label and change colors*/
:focus + .form__label,
:not(:placeholder-shown) + .form__label {
  transform: translateY(-4.5rem) scale(1);
  color: black;
}

:placeholder {
  display: none;
  color: transparent;
}

/* When the placeholder is NOT shown, style the top border. */
/* This makes the top border fade-out when the placeholder disappears. */
:not(:placeholder-shown) {
  border-top-color: rgba(0, 0, 0, 0.5);
}
.form__label {
  font-size: 1rem;
  color: grey;
  display: block;

  /* Moves the label on TOP of the placeholder */
  transform: translate(1.25rem, -2.5rem);
  transform-origin: 0 0; /* Used later for transitions */
  transition: all 500ms;
  pointer-events: none;
}
